@font-face {
  font-family: 'Avenir Next LT Pro';
  src:
    url('AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('AvenirNextLTPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

  /* font-display: swap; */
}

body {
  background-color: rgb(236, 238, 241);
}

main {
  margin: 0 auto;
  border: 1px solid black;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid orange;
}

.reset-account {
  margin-right: 20px;
}

.reset-account p {
  color: rgb(80, 80, 80);
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 1px;
}

.reset-account a {
  text-decoration: none;
  color: rgb(0, 119, 197);
  font-size: 12px;
}

#signin-button {
  border: 1px solid rgb(59, 59, 59);
  border-radius: 5px;
  background-color: rgb(12, 97, 184);
  color: rgb(255, 255, 255);

  /* padding: 70px; */
  margin-right: 35px;
  margin-top: -2px;
  width: 110px;
  height: 40px;
}

#signin-button i {
  margin-right: 2px;
}

.icons {
  border: 2px solid yellow;
  margin: 0 auto;
  width: 40%;
}

#intuit-icon {
  border: 1px solid red;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.customize-icons {
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.company-logo {
  display: flex;
  align-items: center;
}

.customize-icons img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* start styling the form */
.form-container {
  background-color: #fff;
  width: 30%;
  margin: 0 auto;
}

.center-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

form {
  width: 90%;
  margin: 0 auto;
  background-color: greenyellow;
}
