@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap');

@font-face {
  font-family: 'Avenir Next LT Pro';
  src:
    url('AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('AvenirNextLTPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

  /* font-display: swap; */
}

body {
  background-color: rgb(236, 238, 241);
  font-family: 'Roboto', sans-serif;
}

main {
  margin: 0 auto;
  margin-top: 2px;

  /* border: 1px solid black; */
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.reset-account {
  margin-right: 20px;
}

.reset-account p {
  color: rgb(80, 80, 80);
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 1px;
}

.reset-account a {
  text-decoration: none;
  color: rgb(0, 119, 197);
  font-size: 12px;
}

#signin-button,
#create-account {
  border: 1px solid rgb(59, 59, 59);
  border-radius: 5px;
  background-color: rgb(12, 97, 184);
  color: rgb(255, 255, 255);
  margin-right: 35px;
  margin-top: -2px;
  width: 110px;
  height: 40px;
}

#signin-button i {
  margin-right: 2px;
}

.Icons-form-c {
  margin-top: 45px;
}

.icons {
  margin: 0 auto;
  width: 40%;
}

#intuit-icon {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.customize-icons {
  display: flex;
  justify-content: space-evenly;
  width: 55%;
  margin: 0 auto;
}

.customize-icons img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.company-logo {
  display: flex;
  align-items: center;
}

.company-logo p {
  color: rgb(89, 90, 96);
}

/* start styling the form */
.form-container {
  background-color: #fff;
  width: 28%;
  margin: 5px auto;
  color: rgb(59, 59, 59);
  padding-top: 15px;
  min-height: 600px;
  border: 1px solid rgb(187, 187, 187);
}

.center-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.center-content h2 {
  font-weight: 500;
}

.center-content p {
  font-size: 14px;
}

.center-content a {
  text-decoration: none;
}

form {
  width: 80%;
  margin: 0 auto;
}

input {
  margin-top: 10px;
  width: 93%;
  font-size: 14px;
  padding: 8px;
  outline: none;
  border: 1px solid rgb(187, 187, 187);
}

#create-account {
  width: 100%;
  font-size: 16px;
  margin-top: 12px;
}

#create-account i {
  margin-right: 8px;
}

.terms-privacy {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  width: 80%;
  margin: 50px auto;
  color: rgb(117, 117, 117);
}

.terms-privacy a {
  text-decoration: none;
}
